* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
}
   
body.menu-open {
    overflow: hidden;
    position: fixed;
}
   
.overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0); /* Color de fondo negro transparente */
        z-index: 2;                           /* Asegura que el overlay esté por encima del contenido */
        display: none;                        /* Inicialmente oculto */
        transition: background-color 0.3s ease;
}

.overlay.active {
    background-color: rgba(0, 0, 0, 0.5);
}
   
a {
    transition: color 0.3s ease;
    text-decoration: none;
}
   
a:hover {
    color: #991616 !important;
    cursor: pointer;
    text-decoration: none;
}
   
   
/* -----------------------------------------------------------------------
   
    TODO: ESTILO NAVBAR 
   
----------------------------------------------------------------------- */
   
header {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 7px 40px 7px 20px;
    z-index: 3;
    height: auto;
    width: 100%;
}
   
.responsive-logo {       /* Propiedades del logo */
    max-height: 80px;
    width: auto;
    float: left;
}
   
.menu_bar {              /* oculta el menu para las pantallas grandes */
    display: none;
}
   
header nav ul {
    list-style: none;
}
   
header nav ul li {      /* Para pantallas normales, para que el navbar se vea en una fila y no uno sobre otro */
    float: right;
    padding: 10px;
    align-items: center;
    margin-left: 10px;
}
   
header nav ul li a {    /* Establece el formato de los enlaces de la lista */
    color: #fff;
    padding: auto;
    text-decoration: none;
}
   
header nav ul li a:hover {
    text-decoration: none;
}
   
header nav ul li span { /* Oculta los iconos para las pantallas normales*/
    display: none;
}

header nav ul li .btnLogin-popup {
    background: transparent;
    color: #ffffff;
    outline: none;
    border: 0;
    cursor: pointer;

}

header nav ul li .btnLogin-popup:hover {
    transition: color 0.3s ease;
    color: #991616 !important;
}

header nav ul li ul.submenu-icono {
    display: none;
}
   
@media screen and (max-width:1100px) {
    
    .responsive-logo {
        height: auto;
        width: 20%;
    }
   }
   
@media screen and (max-width:1000px) {

    header {
        padding: 7px 25px 5px 15px;
    }
   
    header nav ul li {
        padding: 0.5% 10px 10px 10px;
    }
}
   
   
@media screen and (max-width:800px) {  /* NAVBAR PARA CELULARES */
    
    header {
        position: sticky;
        background-color: #000000;
        padding: 0;
    }
   
    .brand {    /* Estilo Logo y menu */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 25px 15px 20px;
    }
   
    .responsive-logo {
        height: auto;
        width: 30%;
    }
   
    .menu_bar {
        display: flex;
        align-items: center;
    }
   
    .menu_bar a {
        color: #ffffff;
    }
   
    .menu_bar span {
        float: right;
        font-size: 20px;
    }
   
   
    header nav {        /* Formato mini-menu */
        width: 40%;         /* Ancho del menu */
        height: 100%;       /* Largo del menu */
        left: -100%;        /* Menu Oculto para futuras funciones con javascript */
        position: fixed;    /* Para que se posicione debajo del nav */
        background: black;/* Color de pantalla */
    
    }
   
    header nav ul {
        padding: 0;         /* Se quita padding del mini menu, dejando el borde completo */
        display: grid;
    }
   
    header nav ul li {       /* Formato contenido de las listas */
        display: flex;
        float: none;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        padding: 0;
        margin-left: 0;
        border-left: none;
        border-top: none;
        border-right: none;
    }
   
    header nav ul li.order-1 {
        order: 1;
    }
   
    header nav ul li.order-2 {
        order: 2;
    }
   
    header nav ul li.order-3 {
        order: 3;
    }
   
    header nav ul li.order-4 {
        order: 4;
    }
   
    header nav ul li.order-5 {
        order: 5;
    }
   
    header nav ul li.order-6 {
        order: 6;
    }
   
    header nav ul li a {    /* Establece el formato de los enlaces de la lista */
        padding: 10px 13px 10px 15px;
        display: block;
        font-size: 15px;
    }
   
    header nav ul li span { /* Formato icono */
    margin-right: 13px;
    display: inline;
    font-size: 16px;
    }

    header nav ul li .btnLogin-popup {
        padding: 10px 13px 10px 15px;
        display: block;
        font-size: 15px;
    }
    
   
    /* TODO: ANIMACION NAVBAR */
   
    header.fixed {
    position: fixed;
    top: 0;
    }
   
    header.sticky {
    position: sticky;
    top: 0;
    }

   /* -----------------------------------------------------------------------
   
    TODO: ESTILO REDES MINI-MENU
   
    ----------------------------------------------------------------------- */
   

    header nav ul li.redes-navbar {
        position: absolute;
        border-bottom: none;
        bottom: 6rem;
        left: 1rem;
        
        
    }
    
    header nav ul li ul.submenu-icono {
        display: flex;
        list-style: none;
        width: auto;
        
    }
    
    header nav ul li ul.submenu-icono li {
        border-bottom: none;
    }

    header nav ul li ul.submenu-icono li a {
        padding: 0;
    }

    header nav ul li ul.submenu-icono li a span {
        margin-right: 7px;
    }
}

@media screen and (max-width:480px) {
    
    .responsive-logo {
    height: auto;
    width: 45%;
    }
}
   
@media screen and (max-width:310px) {
    
    header nav {    /* Formato mini-menu */
        width: 60%; /* Ancho del menu */
    
    }
}
   

   
/* TODO: ANIMACION NAVBAR PANTALLAS NORMALES */
   
header.scrolled {   /* Mantiene fijo el NAVBAR */
    top: 0;
    background-color: black;
}
   
header.hidden {   /* Oculta el NAVBAR */
    top: -100px;
    animation: showNavbar 0.5s forwards;
}
   
@keyframes showNavbar {
    from { top: -100px; }
    to { top: 0; }
   } 

   /* -----------------------------------------------------------------------
   
    TODO: Codigo que le da forma al la parte de contactos del footer 
   
    ----------------------------------------------------------------------- */
   
   .contac-footer {
    background-color: #171616;
    color: #ffffff;
    padding: 35px 0 35px 0;
    line-height: normal;
   }
   
   .contac-footer .container {
    position: relative;
   }
   
   /* TODO: REDES SOCIALES */
   
   .contac-footer .redes-sociales ul {
    margin: 0;
    padding: 0;
   }
   
   .contac-footer .redes-sociales h3,
   .contac-footer .horarios h3 {
    margin-bottom: 25px;
   }
   
   .contac-footer .redes-sociales ul li,
   .contac-footer .horarios ul li {
    list-style-type: none;
   }
   
   .contac-footer .redes-sociales ul li {
    font-size: 20px;
    margin-bottom: 3%;
   }
   
   .contac-footer .redes-sociales ul li span {
    margin: 10px;
    font-size: 20px;
    vertical-align: middle;
    color: #c62618;
   }
   
   .contac-footer .redes-sociales ul li p {
    display: inline;
    font-size: 18px;
    color: #c62618;
    vertical-align: middle;
   }
   
   .contac-footer .redes-sociales ul li a {
    color: #adadad;
    text-decoration: none;
    padding-left: 50px;
    font-size: 15px;
    display: inline;
    transition: color 0.3s ease
   }
   
   .contac-footer .redes-sociales ul li a:hover {
    color: #fff !important;
    text-shadow: 0 0 0.8px #fff, 0 0 0.8px #fff, 0 0 0.8px #fff;
    cursor: pointer;
    text-decoration: none;
   }
   
   /* TODO: HORARIO */
   
   .contac-footer .horarios {
    border-left: 1px solid grey;
    padding-right: 25px;
    padding-left: 20px;
    text-align: center;
   }
   
   .contac-footer .horarios h3 {
    margin-left: 15px;
    padding-bottom: 10%;
   }
   
   .contac-footer .horarios ul {
    padding: 0 10px 0 10px;
   }
   
   .contac-footer .horarios ul li {
    line-height: 1.3;
    display: flex;
    justify-content: space-between;
    text-align: center;
   }
   
   .contac-footer ul li .dias {
    color: #ffffff;
   }
   
   .contac-footer ul li .horas {
    color: #adadad;
   }
   
   .contac-footer .horarios ul li.dias-cerrado,
   .contac-footer .horarios ul li.dias-cerrado .dias,
   .contac-footer .horarios ul li.dias-cerrado .horas {
    color: #bc392d;
   }
   
   /* TODO: MINIMAPA */
   
   
   .contac-footer .minimapa-footer h3 {
    margin-bottom: 15px;
   }
   
   .contac-footer .minimapa-footer {
    position: relative;
   }
   
   .contac-footer .minimapa-footer .minimapa-wrapper {
    position: relative;
    padding-bottom: 50%;
    height: 0;
   }
   
   .contac-footer .minimapa-footer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
   }
   @media screen and (max-width: 1199px) {
    .contac-footer .minimapa-footer .minimapa-wrapper {
    padding-bottom: 100%;
    }
    /* TODO: HORARIO */
    .contac-footer .horarios h3 {
    margin-bottom: 18%;
    }
    .contac-footer .horarios {
    padding-right: 5%;
    padding-left: 5%;
    }
   }
   @media screen and (max-width: 991px) {
    .contac-footer .minimapa-footer .minimapa-wrapper {
    padding-bottom: 50%;
    }
    .contac-footer .minimapa-footer h3 {
    margin-top: 15px;
    }
    /* TODO: HORARIO */
    .contac-footer .horarios h3 {
    margin-bottom: 18%;
    }
    .contac-footer .horarios {
    padding-right: 7%;
    padding-left: 12%;
    }
    .contac-footer .horarios h3 {
    margin-bottom: 10%;
    } 
   }
   @media screen and (max-width: 767px) {
    .contac-footer .horarios {
    padding-right: 0;
    padding-left: 11%;
    }
   }
   @media screen and (max-width: 600px) {
    .contac-footer .horarios {
    padding-right: 0;
    padding-left: 4%;
    }
   }
   @media screen and (max-width: 575px) {
    /* TODO: REDES SOCIALES */
    .contac-footer .redes-sociales ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
    .contac-footer .redes-sociales ul li {
    margin-bottom: 15px;
    line-height: 1.3;
    }
    .contac-footer .redes-sociales ul li span {
    margin: 0 10px 0 0;
    align-items: center;
    font-size: 20px;
    color: #c62618;
    }
    .contac-footer .redes-sociales ul li p {
    margin-bottom: 0;
    align-items: center;
    }
    .contac-footer .redes-sociales ul li a {
    padding-left: 0;
    }
    /* TODO: HORARIOS */
    .contac-footer .horarios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    }
    .contac-footer .horarios h3 {
    padding: 0;
    margin-bottom: 7%;
    }
    .contac-footer .horarios ul li {
    margin-bottom: 5px;
    }
    .contac-footer .horarios ul li .dias {
    padding-right: 40px;
    }
   }
   /* TODO: Código que le da forma a la parte de Cookies policy*/
   footer.site-footer {
    background-color: #000000;
    color: #9a9a9a;
   }
   .site-footer .site-info {
    color: rgba(255, 255, 255, 0.3);
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    padding: 25px 10px;
   }
   .site-footer .site-info a {
    color: #952117;
    font-size: 12px;
    text-decoration: none;
   }
   .site-footer .site-info .page-container {
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    flex-direction: column;
   }
   .site-footer .site-info .page-container span{
    display: block;
   }
   .site-footer .site-info .derechos-reservado .derechos-footer {
    color: #952117;
    font-size: 12px;
   }
   .site-footer .site-info .creado-por {
    font-size: 14px;
   }
   @media screen and (max-width:475px) {
    .site-footer .site-info {
    flex-direction: column;
    }
    .site-footer .site-info .page-container {
    padding-bottom: 20px;
    }
   }

   /* -----------------------------------------------------------------------
   
    TODO: Codigo LOGIN
   
    ----------------------------------------------------------------------- */
.contenedor-login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3; 
}
.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 4px solid rgba(199, 49, 49, 2);
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
    
}

.wrapper.active-popup {
    transform: scale(1);
    display: flex;
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
     transition: transform .18s ease; 
     transform: translateX(0);
} 

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px)

}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease; 
    transform: translateX(0);
}


.icono-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #000000;
    font-size: 1em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: #000000;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #000000;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #000000;
    font-weight: 500;
    pointer-events: none;
    transition: .3s;
}

.input-box input:focus + label,
.input-box input:valid + label,
.input-box input.has-value + label
 {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #000000;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box span {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #000000;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #000000;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #000000;
    margin-right: 5px;
}

.remember-forgot a {
    color: #000000;
    text-decoration: none;
}

.remember-forgot a:gover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #000000;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #ffffff;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #000000;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}